@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content">@RenderBody()</div>
    <script src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>